body {
    background-color: pink;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#waff-container {
    width: 112px; /* Ширина одного кадра */
    height: 112px; /* Высота одного кадра */
    overflow: hidden;
    display: inline-block;
}

#waff {
    cursor: pointer;
    width: 112px;
    height: 112px;
}
