body {
    background-color: pink;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#waff-container {
    width: 200px; /* Ширина одного кадра */
    height: 200px; /* Высота одного кадра */
    overflow: hidden;
    display: inline-block;
    margin-bottom: 50px; /* Расстояние между изображением и текстом */
}

#waff {
    cursor: pointer;
    width: 200px;
    height: 200px;
    outline: none; /* Убираем синий квадрат */
}
